* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 16px;
}

nav {
  height: 50px;
  background-color: #000;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

nav a {
  text-decoration: none;
  color: #fff;
}

#app {
    padding: 40px;
}
.home img {
    height: 300px;
}
.home .testButton{
    width: 100px;
    height: 25px;
    padding: 20px 10px;
    background-color: bisque;
    border-radius: 10px;
    border: 1px solid black;
    margin-bottom: 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    
}